div.template {
  border-bottom:1px solid #aaa;
  padding-bottom:20px;
}

datalist {
  height:400px;
  overflow: scroll;
}

#meta_wrapper {
  width:75%;
  margin:auto;
  height: 100%;
}

#meta_table, #view_meta_table {
  margin-top:50px;
  margin-bottom: 50px;
}

#addNewCourse {
  margin:auto;
  float:right;
  color:black;
  background-color: #ccc;
  padding: 1em;
}

#addNewCourse:hover{
  text-decoration: none;
  margin-top:1px;
}

#view_meta_table tr td:first-child {
  font-weight: bold;
  font-size: 1.12em;
}